/* COLORS */

.sections *, .about_section * {
    color: rgb(85, 85, 85);
}

.timeline_section * {
    color: white;
}

/* .about_section * {
    color: black;
} */

.projects_section{
    display: flex;
    align-items: center;
    position: relative;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    background: linear-gradient(to bottom, transparent, black);
}


.sections {
    margin-top: 3%;
    background-color: white;
    border-radius: 10px;
}

.sections {
    height: fit-content;
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    /* opacity: 0; */
    transition: opacity 3s ease;
}

.projects{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.project_title{
    width: 100%;
    height: fit-content;
}

.project_title_text{
    margin: 0;
    width: 100%;
    height: fit-content;
}

.section {
    position: relative;
    display: block;
    width: 100%;
}

.link_wrap {
    position: absolute;
    grid-column: 1/1;
    white-space: nowrap;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.05); */
    /* border: 2px solid white ;
    border-radius: 10px; */
    padding-left: 3%;
    padding-right: 3%;
    transition: all 0.5s ease;
}

.section_title {
    font-weight: normal;
    position: relative;
}

.section_images {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 0;
    border: 2px solid white ;
    border-radius: 10px;
    overflow: hidden;
}

.img_wrap0, .img_wrap1, .img_wrap2{
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.section_image {
    z-index: -1;
    position: absolute;
    max-width: 100%;
    min-height: 100%;
}


.img_wrap0 {
    grid-column: 1/4;
}

.chaos_img0{
    top: 50%;
    transform: translateY(-50%);
}

.rl_img0{
    top: 90%;
    transform: translateY(-90%);
}

.wordle_img {
    top: 50%;
    transform: translateY(-50%);
}

.section_image {
    width: 100%;
    object-fit: cover;
}


.rl_img1 {
    top: 50%;
    transform: translateY(-50%);
}

/* transitions */

.section_images {
    opacity: 0;
}

.section_link {
    text-decoration: none;
}

.section_images, .section_link {
    -webkit-transition: all 1s ease;
    -moz-transition: all  1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


/* ABOUT */

.about_section{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
}


@media all and (orientation: portrait) {
    .about_content {
        flex-direction: column;
    }

    .about_text {
        width: 100%;
    }

    .about_img0 {
        width: 100%;
    }
}

@media all and (orientation: landscape) {
    
    .about_text {
        max-width: 45%;
        margin-right: 5%;
    }

    .about_img0 {
        max-width: 50%;
    }

}

.about_content{
    max-height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
}

.about_content{
    display: flex;
    justify-content: space-between;
}

.about_content{
    width: 70%;
    margin-left: 13%;
    margin-right: 13%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(255, 255, 255, 1);
    border: 10px solid white;
    border-radius: 10px; 
}


.about_title, .about_text, .about_img0{
    position: relative;
}

.about_title_text {
    width: fit-content;
}

.about_title_text, .about_text {
    color: black;
}

.about_title {
    width: 50%;
}

.about_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about_text_text{
    text-align: justify;
    color: black; 
}

.about_img0 {
    object-fit: cover;
}

/* .about_img_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.me_arrow{
    position: absolute;
} */

/* TIMELINE */

/* .timeline_title_text {
    width: fit-content;
    margin: 0;
} */

.timeline_section {
    position: relative;
    height: fit-content;
    width: 100%;
    top: -1px; /* little line thingie */
}

.timeline_grid, .timeline_title {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

.timeline_grid {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 20px;
}

.timeline_section {
    background: linear-gradient(black 80%, transparent 100%);
}

.timeline_title {
    position: relative;
    padding-bottom: 20px;
}

.timeline_year, .timeline_segment, .timeline_media {
    width: 84%;
    margin-right: 8%;
    margin-left: 8%;
}

.year_text{
    color: white;
}

.timeline_year {
    top: 0;
    margin-top: 0;
    position: relative;
    height: fit-content;
}

.timeline_year h2 {
    margin: 0;
}

.timeline_segment_title {
    width: 100%;
    text-align: center;
}

@media all and (orientation: portrait) {

    .timeline_year {
        left: 10%;
    }

    .timeline_segment {
        height: 80vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .timeline_media {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sgmt0, .sgmt2, .sgmt4, .sgmt6, .media1, .media3, .media5 {
        grid-column: 2/3;
    }
    
    .sgmt0 .timeline_year, .sgmt2 .timeline_year, .sgmt4 .timeline_year, .sgmt6 .timeline_year {
        text-align: center;
        
    }
    
    .sgmt1, .sgmt3, .sgmt5, .media0, .media2, .media4, .media6 {
        grid-column: 2/3;
    }
    
    .sgmt1 .timeline_year, .sgmt3 .timeline_year, .sgmt5 .timeline_year{
        text-align: center;
    }
    
    .timeline_column {
        grid-column: 1;
    }

    .year_1, .year_3, .year_5 {
        grid-column: 1;
        text-align: left;
    }
    
    .year_0, .year_2, .year_4, .year_6 {
        grid-column: 1;
        text-align: left;
    }
    
    .year_1::after, .year_3::after, .year_0::after, .year_2::after {
        content: '';
        display: block;
        position: absolute;
        height: 5px;
        width: 20%;
        background-color: white;
        top: 50%;
        border-radius: 1px;
        transform: translateY(-50%);
    }
    
    .year_0::after, .year_2::after {
        left: -20%;
    }
    
    .year_1::after, .year_3::after {
        left: -20%;
    }
    
    /* .year_3 {
        border-left: 5px;
    } */

    .timeline_media_link_img_wrap {

        position: relative;
        width: 100%;
        height: fit-content;
        bottom: 0;
    }

    .timeline_text {
        max-height: 50%;
        transform: translateY(-50%);
    }
    .timeline_media_link {
        max-height: 50%;
        width: fit-content;
        transform: translateY(50%);  
    }

}

@media all and (orientation: landscape) {

    .timeline_media_link_img_wrap {

        position: absolute;
        width: 100%;
        height: fit-content;
        transform: translateY(-50%);
    }

    .timeline_segment{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
    }
    
    .timeline_media {
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .sgmt0, .sgmt2, .sgmt4, .sgmt6, .media1, .media3, .media5 {
        grid-column: 1;
    }
    
    .sgmt0 .timeline_year, .sgmt2 .timeline_year, .sgmt4 .timeline_year, .sgmt6 .timeline_year {
        text-align: right;
        
    }
    
    .sgmt1, .sgmt3, .sgmt5, .media0, .media2, .media4, .media6 {
        grid-column: 3;
    }
    
    .sgmt1 .timeline_year, .sgmt3 .timeline_year, .sgmt5 .timeline_year{
        text-align: left;
    }
    
    .timeline_column {
        grid-column: 2;
    }

    .year_1, .year_3, .year_5 {
        grid-column: 3;
        text-align: left;
    }
    
    .year_0, .year_2, .year_4, .year_6 {
        grid-column: 1;
        text-align: right;
    }
    
    .year_1::after, .year_3::after, .year_0::after, .year_2::after {
        content: '';
        display: block;
        position: absolute;
        height: 5px;
        width: 6%;
        background-color: white;
        top: 50%;
        border-radius: 1px;
        transform: translateY(-50%);
    }
    
    .year_0::after, .year_2::after {
        right: -10%;
    }
    
    .year_1::after, .year_3::after {
        left: -10%;
    }
    
    /* .year_3 {
        border-left: 5px;
    } */

    .timeline_media_link {
        height: fit-content;
        width: fit-content;  
    }

}

.timeline_text {
    text-align: justify;
}



.first_gradient_thing {
    position: relative;
    display: block;
    grid-row: 1;
    height: 20vh;
    width: 5px;
    background: linear-gradient(transparent, white);
    opacity: 1;
    z-index: 1;
}

.last_gradient_thing {
    position: relative;
    display: block;
    grid-row: 9;
    height: 10vh;
    width: 5px;
    background: linear-gradient(white, transparent);
    opacity: 1;
    z-index: 1;
}

.grad0, .grad1, .grad2, .grad3, .grad4, .grad5, .grad6 {
    position: relative;
    display: block;
    height: 100%;
    width: 5px;
    background: white;
    opacity: 1;
    z-index: 1;
}

.sgmt0, .grad0, .media0, .year_0 {
    grid-row: 2;
}

.sgmt1, .grad1, .media1 , .year_1{
    grid-row: 3;
}

.sgmt2, .grad2, .media2, .year_2{
    grid-row: 4;
}

.sgmt3, .grad3, .media3 {
    grid-row: 5;
}

.sgmt4, .grad4, .media4, .year_3 {
    grid-row: 6;
}

.sgmt5, .grad5, .media5, .year_4 {
    grid-row: 7;
}

.sgmt6, .grad6, .media6, .year_5 {
    grid-row: 8;
}


/* TIMELINE BLURRED IMAGE THINGS */

.timeline_media_link_img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}



.timeline_media_link_img {
    filter: blur(6px) brightness(40%);
    -webkit-filter: blur(6px) brightness(40%);
    transition: all 1s ease;
}

.timeline_media_link_text {
    text-decoration: underline;
    z-index: 1;
    transition: all 1s ease;
    opacity: 1;
}

.timeline_media_link_img_wrap:hover .timeline_media_link_img {
    filter: blur(0px) brightness(100%);
    -webkit-filter: blur(0px) brightness(100%);
}

.timeline_media_link_img_wrap:hover .timeline_media_link_text {
    opacity: 0;
}

.timeline_media_link_text {
    text-align: center;
    position: absolute;
    height: fit-content;
    max-width: 100%;
    overflow-wrap:break-word;
    width: 100%;
    margin: 0;
    top: 50%;
    transform: translate(0%, -50%);
}


.mcgill_logo, .maisonneuve_logo {
    height: 200px;
    width: auto;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    left: 50%;
    transform: translateX(-50%);
}


/* MENU */


@media all and (orientation: portrait) {
    
    .home_menu_items {
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    
    .projects_link:hover {
        -webkit-filter: brightness(150%);
        filter: brightness(150%);
        text-decoration: underline;
    }
    
}

@media all and (orientation: landscape) {

    .menu {
        grid-template-columns: 60% auto;
    }
    
    .home_menu_items {
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .projects_link:hover {
        -webkit-filter: brightness(150%);
        filter: brightness(150%);
        text-decoration: underline;
    }
    
}