
/* SPECIFICS -------------------------------------------------------------------------------------------- */

img {
    pointer-events: none;
}

.pagetitle {
    position: relative;
    margin: 20px 0px 20px 20px;
}

/* formatting  */

.section_image {
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    transition: opacity 3s ease;
}

.section_images {  
    opacity: 0.20;
    transition: all 2s;
}

.sections {
    display: grid;
    grid-template-columns: auto auto;
}

.section {
    position: relative;
    grid-column: 1 / 3;
    object-fit: cover;
    height: 200px;
}

.section1 {
    grid-row: 1 / 1;
}

.section2 {
    grid-row: 2 / 2;
}

.section_images {
    grid-template-columns: auto auto auto;
    z-index: -1;
    position: relative;
    width: 100%;
    height: 100%;
    bottom:0;
    left:0;
    display: grid;
    overflow: hidden;
    
} 

.film_img0 {
    position: relative;
    bottom: 45%;
}

.film_img1 {
    position: relative;
    bottom: 20%;
}

.film_img2 {
    position: relative;
    bottom: 55%;
}

.chaos_img0 {
    position: relative;
    bottom: 20%;
}

.chaos_img1 {
    position: relative;
    bottom: 20%;
}

.chaos_img2 {
    position: relative;
    bottom: 20%;
}


.section_link {
    transition: all 2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: center;
}




/* transitions */

.section_link:hover {
    color: white;
}