/* COLORS */

.sections *, .about_section * {
    color: rgb(85, 85, 85);
}

/* .about_section * {
    color: black;
} */

.projects_section{
    display: flex;
    align-items: center;
    position: relative;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    background: linear-gradient(to bottom, transparent, black);
}

.sections {
    margin-top: 3%;
    background-color: white;
    border-radius: 10px;
}

.sections {
    height: fit-content;
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    /* opacity: 0; */
    transition: opacity 3s ease;
}

.projects{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.project_title{
    width: 100%;
    height: fit-content;
}

.project_title_text{
    margin: 0;
    width: 100%;
    height: fit-content;
}

.section {
    position: relative;
    display: block;
    width: 100%;
}

.link_wrap {
    position: absolute;
    grid-column: 1/1;
    white-space: nowrap;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.05); */
    /* border: 2px solid white ;
    border-radius: 10px; */
    padding-left: 3%;
    padding-right: 3%;
    transition: all 0.5s ease;
}

.section_title {
    font-weight: normal;
    position: relative;
}

.section_images {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 0;
    border: 2px solid white ;
    border-radius: 10px;
    overflow: hidden;
}

.img_wrap0, .img_wrap1, .img_wrap2{
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.section_image {
    z-index: -1;
    position: absolute;
    max-width: 100%;
    min-height: 100%;
}


.img_wrap0 {
    grid-column: 1/4;
}

.chaos_img0, .untangle_img0{
    top: 50%;
    transform: translateY(-50%);
}

.rl_img0{
    top: 90%;
    transform: translateY(-90%);
}

.wordle_img {
    top: 50%;
    transform: translateY(-50%);
}

.section_image {
    width: 100%;
    object-fit: cover;
}


.rl_img1 {
    top: 50%;
    transform: translateY(-50%);
}

/* transitions */

.section_images {
    opacity: 0;
}

.section_link {
    text-decoration: none;
}

.section_images, .section_link {
    -webkit-transition: all 1s ease;
    -moz-transition: all  1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

/* ABOUT */

.about_content {
    padding: 3%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}

.about_section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.about_content {
    display: flex;
    gap: 15%;
}

    
.about_img_wrap, .about_img0, .about_content, .about_section {
    max-width: 100%;
}

.about_img_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_img_descr {
    margin-top: 0;
    text-align: center;
    font-size: x-small;
}

.about_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* justify text */
    text-align: justify;
}

.about_title_text {
    margin-top: 0;
}

.about_text *, .about_img_descr *{
    color: black; 
}

.about_img0 {
    object-fit:contain;
    border-radius: 10px;
}

@media all and (orientation: portrait) {

    .about_section{
        align-items: center;
    }

    .about_content{
        height: fit-content;
    }

    .about_section {
        height: 90vh;
    }

    .about_content {
        flex-direction: column;
    }

    .about_text {
        width: 100%;
    }

    .about_img0 {
        width: 100%;
    }


    .about_content {
        width: 80%;
    }
}

@media all and (orientation: landscape) {

    .about_content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .about_content {
        max-height: 50vh;
    }

    .about_img_wrap{
        height: 100%;
        width: 50%;
    }

    .about_text {
        width: 50%;
    }

    .about_content {
        width: 80%;
    }

}


/* MENU */


.menu {
    position: absolute;
}


@media all and (orientation: portrait) {
    
    .home_menu_items {
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    
    .projects_link:hover {
        -webkit-filter: brightness(150%);
        filter: brightness(150%);
        text-decoration: underline;
    }
    
}

@media all and (orientation: landscape) {

    /* .menu {
        grid-template-columns: 60% auto;
    } */
    
    .home_menu_items {
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .projects_link:hover {
        -webkit-filter: brightness(150%);
        filter: brightness(150%);
        text-decoration: underline;
    }
    
}


/* Styles for the arrow shape */
.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent; /* Adjust arrow size as needed */
    border-right: 10px solid transparent;
    border-top: 20px solid #000000; /* Arrow color */
    position: absolute;
    bottom: 20px; /* Distance from the bottom of the screen */
    left: 50%; /* Position horizontally centered */
    transform: translateX(-50%); /* Center the arrow horizontally */
    z-index: 999; /* Ensure arrow is above other content */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
    opacity: 1; /* Initially visible */
}
