/* TEXT STYLE -------------------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    font-family:monospace;
}

h1, h2, h3, a {
    color:darkolivegreen;
}

.link {
    text-decoration: none;
}

@media all and (orientation: portrait) {

    p {
        font-size: 27px;
    }

    h1 {
        font-size: 34px;
    }


    h2 {
        font-size: 30px;
    }


    h3 {
        font-size: 27px;
    }
}

@media all and (orientation: landscape) {

    p {
        font-size: 20px;
    }

    h1 {
        font-size: 34px;
    }


    h2 {
        font-size: 27px;
    }


    h3 {
        font-size: 24px;
    }

}

/* MENU -------------------------------------------------------------------------------------------- */

.pagesubtitle {
    position: relative;
    margin: 0px 0px 20px 20px;
}


.typewriter {
    width: fit-content;
    border-right: 1.5px solid darkgreen ;
}

.menu {
    position: relative;
    width: 100%;
    display: grid;
}

.pagetitle {
    text-align: left;
    margin: 20px 0px 20px 20px;
    width: fit-content;
}

.menu_items {
    display: grid;
    width: 100%;
    position: relative;
}