body {
    /* background:rgb(219, 219, 219); */
    /* background: url("./assets/background.jpg"); */
    /* background gradient from light blue to dark blue */
    /* background: linear-gradient(180deg, rgb(182, 216, 255) 0%, rgba(0, 0, 0, 0.5) 100%); */
    background: rgb(255, 255, 255);
    background-size: contain;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: visible;
    overflow-y: auto;
    /* background-attachment:; */
}

.MathJax {
    font-size: 25px !important;
    font: "TeX" !important;
}

p,li {
    font-size: x-large;
}

h1 {
    font-size: xx-large;
}


h2 {
    font-size:  xx-large;
}


h3 {
    font-size: x-large;
}

/* HOMESTYLE */

.about_section{
    align-items: center;
}

.about_content{
    height: fit-content;
}

.about_section {
    height: 90vh;
}

.about_content {
    flex-direction: column;
}

.about_text {
    width: 100%;
}

.about_img0 {
    width: 60%;
}

.about_img_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about_content {
    width: 80%;
}
.about_content {
    max-height: 80vh;
}

.home_menu_items {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.projects_link:hover {
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
    text-decoration: underline;
}

/* TIMELINE */

.timeline_entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



