/* colors */

html {
    background: url("./assets/background.JPG");
    background-color: black;
    max-width: 100%;
    margin: 0;

}

body {

    height: 100%;
    width: 100%;
    margin: 0;
    background: url("./assets/background.JPG");
    overflow-x: hidden;
    overflow-y: scroll;
    background-attachment: fixed;
}


/* TEXT STYLE -------------------------------------------------------------------------------------------- */

html {
    margin: 0;
}

* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Colors */

p, h1, h2, h3, a {
    color:rgb(210, 210, 210);
}

.typewriter {
    border-right: 0.5em solid rgb(150, 150, 150) ;
}

.link {
    text-decoration: none;
}

@media all and (orientation: portrait) {

    p {
        font-size: 34px;
    }

    h1 {
        font-size: 50px;
    }


    h2 {
        font-size:  45px;
    }


    h3 {
        font-size: 40px;
    }
}

@media all and (orientation: landscape) {

    p {
        font-size: 20px;
    }

    h1 {
        font-size: 34px;
    }


    h2 {
        font-size: 27px;
    }


    h3 {
        font-size: 24px;
    }

}

/* MENU -------------------------------------------------------------------------------------------- */

.pagesubtitle {
    position: relative;
}


.typewriter {
    width: fit-content;
}

.menu {
    position: relative;
    width: 94%;
    display: grid;
    margin-left: 3%;
    margin-right: 3%;
}

.hr {
    height: 2px;
    width: 100%;
    position: relative;
    left: 0;
    background: white;
}

.pagetitle {
    text-align: left;
    width: fit-content;
}

.menu_items {
    display: grid;
    width: 100%;
    position: relative;
}