
/* body */

.date {
    position: relative;
    width: 90%;
}



.card {
    background-color: white;
}


/* video */

.media_wrap {
    position: relative;
    width: fit-content;
    max-width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.media_wrap_tex {
    margin-top: 20px;
    width: 80%;
}

.rl_media {
    max-width: 100%;
}

.video_wrap {
    margin-top: 20px;
}


.examples {
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;
    border-radius: 10px;
}

video, iframe {
    border-radius: 10px;
}
