p, a, sub, i {
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
}

p {
    margin-top: 20px;
}

.rl_section {
    opacity: 0;
    background-color: rgba(255, 255, 255, 1);
    border: 3px solid white;
    border-radius: 10px; 
    transition: opacity 2s ease;
}

.rl_section {
    position: relative;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.rl_subtitle {
    margin-top: 0;
}

.rl_subtitle, .research_text, a {
    color: black;
}

/* .research_text {
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: 20px;
} */

.research_format {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

ol {
    padding-left: 15%;
}

li {
    padding-top: 20px;
}

.media_wrap {
    position: relative;
    width: fit-content;
    max-width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.media_wrap_tex {
    margin-top: 20px;
    width: 80%;
}

.rl_media {
    max-width: 100%;
}

.video_wrap {
    margin-top: 20px;
}

.good_txt {
    white-space: nowrap;
    position: absolute;
    width: fit-content;
    max-width: 100%;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: greenyellow;
}

.bad_txt {
    white-space: nowrap;
    position: absolute;
    width: fit-content;
    max-width: 100%;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    color:rgb(232, 0, 0);
}

.research_display {
    margin-top: 20px;
    display: grid;
}

.research_display1 {
    grid-template-columns: auto auto;
}

.research_display2 {
    grid-template-columns: auto;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);

}

@media all and (orientation: landscape) {
    .research_display3 {
        grid-template-columns: auto auto;
    }
}

@media all and (orientation: portrait) {
    .research_display3{
        grid-template-columns: auto;
    } 
}


.blog {
    position: relative;
    width: 100vw;
    height: 100vh;
}

iframe {
    position: relative;
    width: 100%;
    height: 100vh;
}